{% extends "base.html" %}

{% block title %}Planium - подтвердите свой аккаунт{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Привет, {{ current_user.username }}!
    </h1>
    <h3>Вы все еще не подтвердили свой аккаунт.</h3>
    <p>
        Для доступа к сайту, Вам необходимо подтвердить свой аккаунт.
        Проверьте входящую почту, на указанном email, там должно быть письмо с подтверждением.
    </p>
    <p>
       Нужно другое письмо с подтверждением?
        <a href="{{ url_for('auth.resend_confirmation') }}">Нажмите</a>
    </p>
</div>
{% endblock %}
