body {
  padding-top: 50px;
  background-color: #f7f7f7;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #428bca;
}
.text-primary:hover {
  color: #3071a9;
}
.text-warning {
  color: #c09853;
}
.text-warning:hover {
  color: #a47e3c;
}
.text-danger {
  color: #b94a48;
}
.text-danger:hover {
  color: #953b39;
}
.text-success {
  color: #468847;
}
.text-success:hover {
  color: #356635;
}
.text-info {
  color: #3a87ad;
}
.text-info:hover {
  color: #2d6987;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 38px;
}
h2,
.h2 {
  font-size: 31px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .dl-horizontal dd:after {
    clear: both;
  }
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .dl-horizontal dd:after {
    clear: both;
  }
}
.navbar-header {
  padding-left: 20px;
}
.sidebar {
  display: none;
}
.sidebar.affix {
  position: static;
}
/* First level of nav */
.sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  color: #36556e;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e8ebee;
  border-right: 1px solid #d8dde2;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #1d365d;
  background-color: transparent;
  border-right: 1px solid #1d365d;
}
.sidebar .nav .nav {
  display: none;
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  padding: 3px 30px;
  font-size: 90%;
}
.sidebar .glyphicon {
  font-size: 12px;
  margin-left: 10px;
}
@media (min-width: 500px) {
  .sidebar {
    display: block;
    padding-top: 15px;

  }
  .sidebar .nav > .active > ul {
    display: block;
  }
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix {
    position: fixed;
    top: 45px;
  }
  .sidebar.affix-bottom {
    position: absolute;
  }
  .sidebar.affix .sidenav,
  .sidebar.affix-bottom .sidenav {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .sidebar {
    display: block;
    padding-top: 15px;
    position: fixed;
  }
  .sidebar .nav > .active > ul {
    display: block;
  }
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix {
    position: fixed;
    top: 45px;
  }
  .sidebar.affix-bottom {
    position: absolute;
  }
  .sidebar.affix .sidenav,
  .sidebar.affix-bottom .sidenav {
    margin-top: 10px;
    margin-bottom: 0;
  }

}
@media (min-width: 1200px) {
  .sidebar.affix-bottom,
  .sidebar.affix {
    width: 263px;
  }
}

.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.docs-content {
  position: relative;
  overflow: hidden;
  background: #fff;
  background-color: #fff;
  padding: 30px 60px 280px 60px;
  margin: 0 -15px;
  border: none;
  border-radius: 0 0 4px 4px;
}

.docs-content {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.panel-body {
  margin-bottom: 50px;
  overflow: hidden;
}

.panel-default > .panel-heading {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
}

.panel-heading.active:hover, 
.panel-heading.active:focus {
    background-color: #1d365d;
    border-color: #1d365d;
    color: #fff;
    z-index: 2;
}

.map-canvas { 
  width: 100% !important;
  height: 300px !important;
  border: 2px solid #fff;
  
}

.googlemap {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
  width: 65%;
  display: inline-block;

}

.pillbox-inline {
 float: right;
  width: 25%;
  height: 300px;
}

.pillbox-box {
  height: 85%;
  overflow: auto;
  margin-bottom: 10px;
}

.blue {
  color:#1d365d;
}

.add-form {
  height: 70px;
}

.checkbox-custom.checked span.tasks {
  text-decoration: line-through;
}

