<p>Уважаемый(ая), {{ user.username }}</p>
<p>Добро пожаловать на сервис  <b>Planium</b>!</p>
<p>Для подтверждения вашего аккаунта  <a href="irinn.us{{ url_for('auth.confirm', token=token) }}">кликните тут</a>.</p>
<p>Или вы можете  скопировать в адресную строку вашего браузера следующую ссылку и перейти по ней:</p>
<p>irinn.us{{ url_for('auth.confirm', token=token) }}</p>
<p>С уважением,</p>
<p>Команда Planium</p>
<p><small>Замечание: ответы на данный  email  не отслеживаются ..</small></p>
