{% extends "base.html" %}

{% block title %} Page not found {% endblock %}

{% block page_content %} 
<div class="col-md-9" role="main">
    <h1 class="page-header"> Not found </h1> 
</div>
{% endblock %}


