{% import "bootstrap/wtf.html" as wtf %}
<div class="" style="height: 90px;">
<form role="form"  method="post" action="{{url_for('main.add')}}" >
<div class="form-group" style="overflow: hidden; position: relative; display: inline-block; width: 70%;margin-bottom: 0px;">
  <input type="text" name="text" class="form-control" required id="text" placeholder="Введите задачу...">
</div>

<div class='input-group date' id='dateTimeDueDate' style="float: right; width: 25%; margin-right:15px;">
    <input type='text' placeholder="срок" class="form-control"   />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
<script type="text/javascript">
  window.onload = function () {
  
    $('#dateTimeDueDate').datetimepicker({
      locale: 'ru'
    });


    $('#dateTimeReminder').datetimepicker({
      locale: 'ru'
    });
};
</script>
<div class="form-group">
<!-- Standard button -->
  <button type="submit" class="btn btn-default">Добавить</button>
  <div style="margin-top: 10px; display: inline-block; margin-left: 15px;">
    <a onclick="" class="blue"><span class="glyphicon glyphicon-bell" data-toggle="modal" data-target="#addNotice" aria-hidden="true"  style="margin-right: 10px; height: 25px; width: 24px;"></span></a>
    <a data-toggle="modal" data-target="#addContext" class="blue"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>

  </div>
</div>

<div aria-hidden="true" aria-labelledby="addContextLabel" role="dialog" tabindex="-1" class="modal fade" id="addContext" style="display: none;">
    <div class="modal-dialog  modal-sm">
    <div class="modal-content">

        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
          <h4 id="addContextLabel" class="modal-title"><span class="glyphicon glyphicon-map-marker" data-toggle="modal" data-target="#addNotice" aria-hidden="true"></span><a href="#addContextLabel" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h4>
        </div>

        <div class="modal-body">

        <div id="classifyContexts">
  			{% for context in contexts: %}
  		

     	   	<div class="checkbox" data-context-id="{{ context.id }}">
                  <label class="checkbox-custom" data-initialize="checkbox">
                    <input class="sr-only" name="context" type="checkbox" value="{{ context.id }}">
                    <span class="checkbox-label">{{ context.title }}</span>
                  </label>     
            </div>

            {% else: %}

            	<p>У вас, к сожалению, еще нет добавленных контекстов</p>

            {% endfor %}
           </div>
           <button id="classify" class="btn btn-default" onclick="classifing(this)" type="button">Проставить автоматически <span class="glyphicon glyphicon-upload" aria-hidden="true"></span></button>
     	   	<div class="checkbox" id="addContextsReminder">
                  <label class="checkbox-custom" data-initialize="checkbox">
                    <input class="sr-only" type="checkbox" name="location_notice" id="location_notice"  value="1">
                    <span class="checkbox-label" style="font-weight: bold; margin-top: 10px;"> Напоминать при смене контекста </span>
                  </label>     
            </div>

        </div>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div aria-hidden="true" aria-labelledby="addNoticeLabel" role="dialog" tabindex="-1" class="modal fade" id="addNotice" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
          <h4 id="addNoticeLabel" class="modal-title"><span class="glyphicon glyphicon-bell" data-toggle="modal" data-target="#addNotice" aria-hidden="true"></span><a href="#addNoticeLabel" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h4>
        </div>

        <div class="modal-body">
        	<div class="form-group">
                <div class='input-group date' id='dateTimeReminder'>
                    <input type='text' class="form-control" placeholder="Дата" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
	            </br>
	                <label class="control-label">Напоминать: </label>
	            </br>
	            <div class="input-group input-append dropdown combobox" data-initialize="combobox" id="newNoticePeriod">
					<input type="text" class="form-control">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li data-value="1" data-selected="true"><a href="#">Один раз</a></li>
							<li data-value="2"><a href="#">Ежедневно</a></li>
							<li data-value="3"><a href="#">Еженедельно</a></li>
							<li data-value="4"><a href="#">Ежемесячно</a></li>
							<li data-value="5" ><a href="#">Ежегодно</a></li>
						</ul>
					</div>
				</div>
			</div>
        </div>
        <div class="modal-footer">
          
          <button class="btn btn-default" onclick="addReminder()" type="button">Добавить</button>
          <button data-dismiss="modal" class="btn btn-link" type="button">Нет</button>
        </div>

    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  <div class="hidden">
  	{{ add_new.csrf_token }}
  	{{ add_new.notice }}

  	{{ add_new.due_date }}
  	{{ add_new.repeat_id }}

  </div>
  </form>
</div>
