{% import "bootstrap/wtf.html" as wtf %}


<div id="editForm" style="height: 90px;">
<form id="editFormForm"role="form"  method="post" action="/edit/{{task.id}}">
<div class="form-group" style="overflow: hidden; position: relative; display: inline-block; width: 70%;margin-bottom: 0px;">

    <input type="text" name="text" class="form-control" required id="text" placeholder="Введите задачу..." value="{{ task.text }}">
  </div>

<div class='input-group date' id='editDueDate' style="float: right; width: 25%; margin-right:15px;">
    <input type='text' placeholder="срок" class="form-control"   />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
<div class="form-group">
    <!-- Standard button -->
	<button type="submit" class="btn btn-default">Сохранить</button>
  <button type="button" onclick="cancelEdit(this); return false;" data-task-id="{{task.id}}" class="btn btn-link">Отмена</button>
    <div style="margin-top: 10px; display: inline-block; margin-left: 15px;">
        <a onclick="" class="blue"><span class="glyphicon glyphicon-bell" data-toggle="modal" data-target="#editNotice" aria-hidden="true"  style="margin-right: 10px; height: 25px; width: 24px;"></span></a>
        <a data-toggle="modal" data-target="#editContext" class="blue"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="editContextLabel" role="dialog" tabindex="-1" class="modal fade" id="editContext" style="display: none;">
    <div class="modal-dialog  modal-sm">
    <div class="modal-content">

        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
          <h4 id="editContextLabel" class="modal-title"><span class="glyphicon glyphicon-map-marker" data-toggle="modal" data-target="#editNotice" aria-hidden="true"></span><a href="#editContextLabel" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h4>
        </div>

        <div class="modal-body">

        <div>
  			{% for context in contexts: %}
  		

     	   	<div class="checkbox" data-context-id="{{ context.id }}" id="editCheckBox{{ context.id }}">
                  <label class="checkbox-custom" data-initialize="checkbox">
                    <input class="sr-only" name="context" type="checkbox" value="{{ context.id }}">
                    <span class="checkbox-label">{{ context.title }}</span>
                  </label>     
            </div>

            {% else: %}

            	<p>У вас, к сожалению, еще нет добавленных контекстов</p>

            {% endfor %}
           </div>

     	   	<div class="checkbox" id="editContextsReminder">
                  <label class="checkbox-custom" data-initialize="checkbox">
                    <input class="sr-only" type="checkbox" name="location_notice" id="location_notice"  value="1">
                    <span class="checkbox-label" style="font-weight: bold; margin-top: 10px;"> Напоминать при смене контекста </span>
                  </label>     
            </div>

        </div>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div aria-hidden="true" aria-labelledby="editNoticeLabel" role="dialog" tabindex="-1" class="modal fade" id="editNotice" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
          <h4 id="editNoticeLabel" class="modal-title"><span class="glyphicon glyphicon-bell" data-toggle="modal" data-target="#editNotice" aria-hidden="true"></span><a href="#editNoticeLabel" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
              <div class='input-group date' id='editReminder'>
                  <input type='text' placeholder="Дата" class="form-control"   />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
        	
	            </br>
	                <label class="control-label">Напоминать: </label>
	            </br>
	            <div class="input-group input-append dropdown combobox" data-initialize="combobox" id="editNoticePeriod">
      					       <input type="text" class="form-control" >
      					<div class="input-group-btn">
      						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
      						<ul class="dropdown-menu dropdown-menu-right">
                    <li data-value="0" data-selected="true"><a href="#">Без напоминания</a></li>
      							<li data-value="1"><a href="#">Один раз</a></li>
      							<li data-value="2"><a href="#">Ежедневно</a></li>
      							<li data-value="3"><a href="#">Еженедельно</a></li>
      							<li data-value="4"><a href="#">Ежемесячно</a></li>
      							<li data-value="5" ><a href="#">Ежегодно</a></li>
      						</ul>
      					</div>
      				</div>
			     </div>
        </div>
        <div class="modal-footer">
          
          <button class="btn btn-default" onclick="editReminder()" type="button">Добавить</button>
          <button data-dismiss="modal" class="btn btn-link" type="button">Нет</button>
        </div>

    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  <div class="hidden">
  	{{ edit.csrf_token }}
  	{{ edit.notice }}
    {{ edit.repeat_id }}
  	{{ edit.due_date }}

  </div>
  </form>
  <script type="text/javascript">
$('#editDueDate').datetimepicker({
  locale: 'ru'
}); 

{%if  task.due_date > 0: %}
$('#editDueDate').data("DateTimePicker").date(new moment("{{task.due_date}}", "X"));
{% endif%}

 $('#editReminder').datetimepicker({
  locale: 'ru'
}); 
// data-selected="true"
{%if task.notice > 0: %}
$('#editReminder').data("DateTimePicker").date(new moment("{{task.notice}}", "X"));
{% endif%}


$('#editNoticePeriod').combobox('selectByValue', '{{task.repeat_id}}');

{% for context in task.contexts %}
$("#editCheckBox{{ context.id }}").checkbox('check');
{% endfor%}

{% if task.location_notice == 1: %}
$("#editContextsReminder").checkbox('check');
{% endif%}

function editReminder() {
  $("#editFormForm #repeat_id").val($('#editNoticePeriod').combobox("selectedItem").value.toString());
  $("#editFormForm #notice").val($("#editReminder").data("DateTimePicker").date().format('X').toString());
  $("#editNotice").modal('hide');
}

$("#editDueDate").on("dp.change", function (e) {
    $('#editFormForm #due_date').val(e.date.format('X').toString());
});

</script>
</div>



