{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

<div class="googlemap">
	<div id="map-canvas-{{ context.id }}" class="map-canvas" ></div> 
</div>	

<script type="text/javascript"></script>





<div class="fuelux pillbox-inline">
	<div id="pillbox{{context.id}}" class="pillbox pillbox-box">
	 	<ul class="clearfix pill-group"></ul>
	</div> 
	<form class="submit-points" id="{{context.id}}" method="POST" action="/context/{{context.id}}/points/">
		<input class="btn btn-default"   style="position: relative; width: 100%;" type="submit" value="Сохранить">
		{{ add_points.csrf_token }}
	</form>
</div>
<script type="text/javascript">
	points[{{ context.id }}] = {{ context.get_json_points()|tojson }};
</script>