<div class='checkbox' data-subtask-id='{{subtask.id}}'>
    <label class='checkbox-custom' data-initialize='checkbox'>
      <input data-subtask-id='{{subtask.id}}' class='sr-only check-subtask' type='checkbox' onchange="deleteSubtask(this)">
      <span class='checkbox-label tasks'>{{ subtask.text }}</span>
    </label>
</div>   