<li class="list-group-item"  id="task_{{task.id}}"> 
  <div class="checkbox" data-task-id="{{task.id}}">
      <label class="checkbox-custom" data-initialize="checkbox">
        <input data-task-id="{{task.id}}" class="sr-only check-task" type="checkbox" value="{{ task.checked }}" 
        {% if task.checked == 1: %}
            checked="checked"
        
        {% endif %} 
        >
        <span class="checkbox-label tasks">{{ task.text}}</span>
      </label>
      <div class="pull-right">
        <a class="blue subtask" data-task-id="{{task.id}}" data-toggle="collapse" href="#collapse{{task.id}}" aria-expanded="false" aria-controls="collapse{{task.id}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        <a onclick="edit_task({{task.id}})" class="blue"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        <a href='/delete/{{ task.id }}' class="blue"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
    
    </div>
  </div>

      

    <div class="collapse panel panel-default" id="collapse{{task.id}}">         
        <div class="panel-body"  style="margin-bottom: 0px;">
          {% for subtask in task.subtasks %}
              {% include "_subtask.html" %}  
          {% endfor %}

          <div class="form-inline" id="formAddNewSubtask{{ task.id }}">
              <div class="form-group">
                <label class="sr-only" for="addSubtaskForTask{{ task.id }}">Текст подзадачи</label>
                <input type="text" data-task-id="{{task.id}}" class="form-control" id="addSubtaskForTask{{ task.id }}" placeholder="Хочу сделать..."> 
              </div>
              <button type="submit" data-task-id="{{task.id}}" class="btn btn-default">Добавить</button>
          </div>

        </div>
    </div>
</li>