{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}">
 <link rel="stylesheet" href="//www.fuelcdn.com/fuelux/3.6.3/css/fuelux.min.css">
{% endblock %}



{% block scripts%}
{{ super() }}
<script src="//www.fuelcdn.com/fuelux/3.6.3/js/fuelux.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>

{% endblock %}

{% block title %}Planium{% endblock %}

{% block navbar %}

<header class="navbar navbar-default navbar-fixed-top " role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                 <a class="navbar-brand" href="{{ url_for('main.index') }}">Planium</a>
            </div> </div>
            <div class="col-md-9">
                                
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated() %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Аккаунт <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('auth.change_password') }}">Сменить пароль</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Войти</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {%block sidebar%}
		{% endblock %}
        {% block page_content %}{% endblock %}
    </div>
</div>


{% endblock %}

