{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/gmaps.js')}}"></script>


{% endblock %}
{% block scripts%}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='js/contexts.js')}}"></script>
{% endblock %}

{% block sidebar %}

{% if current_user.is_authenticated() %}
<div class="col-md-3" >
    <nav class="sidebar " role="complementary">
        <div id="navigation">

            <ul class="nav sidenav">
           
              <li class=""><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Все задачи</a></li>
              <li class=""><a href="/today"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Сегодня</a></li>
              <li class=""><a href="/week"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Неделя</a></li>

            </ul>
          <ul class="nav sidenav">
              {%for context_el in contexts %}
              <li><a href="/context/{{ context_el.id }}"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{context_el.title}}</a></li>
              {% endfor %}
               <li class="active"><a href="/contexts/"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>  Настройки контекстов</a></li>
          </ul>
        </div>
        
    </nav>
</div>
{% endif %}

{% endblock%}

{% block page_content %}
<script type="text/javascript">
	var points = new Object();
</script>
<div class="col-md-9" role="main">

    <div class="panel docs-content">

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            

						<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingAdd" >
			        	<form class="form-inline" action="/add/context/" method="POST" >
						  <div class="form-group" style="width: 85%;">
						    <input type="text" class="form-control" id="title" placeholder="Название" name="title" style="width: 100%;">
						  </div>
						  <button type="submit" class="btn btn-default">Сохранить</button>
						  {{ add_context.csrf_token }}
						</form>
	
			      
			    </div>
			</div>

			{% for context in contexts %}
			<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading{{ context.id }}" >
			      <h4 class="panel-title">
			      
			        <a data-toggle="collapse" id="{{ context.id }}" data-parent="#accordion"  href="#collapse{{ context.id }}" aria-expanded="true" aria-controls="collapse{{ context.id }}"
			         >
			          {{ context.title }}
			        </a>
			        <!-- Button trigger modal -->
			        <a target="_parent" href='' onclick="editContext(e, {{context.id}})" class="blue" style="" data-toggle="modal" data-target="#myModal{{ context.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>

					<!-- Modal -->
					<div class="modal fade" id="myModal{{ context.id }}" tabindex="-1" role="dialog" aria-labelledby="myModal{{ context.id }}Label" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      
					      <div class="modal-body">
					      		<form class="form-inline" action="/edit/context/{{context.id}}" method="POST" >
								  <div class="form-group" style="width: 85%;">
								    <input type="text" class="form-control" id="title" placeholder="Название" name="title" style="width: 100%;" value="{{context.title}}">
								  </div>
								  </br>
								  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
								  <button type="submit" class="btn btn-default">Сохранить</button>
								  {{ add_context.csrf_token }}
							</form>
					      </div>
	
					    </div>
					  </div>
					</div>

                	<a  target="_parent" href="/delete/context/{{ context.id }}"  class=" pull-right blue" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
			      </h4>
			    </div>
			    <div id="collapse{{ context.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ context.id }}">
			    
			      <div id="points-{{ context.id }}" class="panel-body">
			        	{% include "_show_points.html" %}
			      </div>
			    </div>
			</div>
			{% endfor %}
			
        </div>


	<div class="clearfix"></div>

	<div class="hidden" id="edit_marker_template">
		<form method="post" class="edit_marker" data-marker-index="{marker}" data-map-index="{map}" >
		<div class="input-group">
	      <input type="text" class="form-control" value="{title}" id="{marker}_{map}" placeholder="Название">
	      	<span class="input-group-btn">
	        <button class="btn btn-default" type="submit">Ок</button>
	      </span>
    	</div>
    	</form>
	</div>

</div>
</div>

{% endblock %}
