{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}">
{% endblock %}

{% block scripts%}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-datetimepicker.min.js')}}"></script>

{% endblock %}
{% block sidebar %}

{% if current_user.is_authenticated() %}
<div class="col-md-3" >
    <nav class="sidebar " role="complementary">
        <div id="navigation">

            <ul class="nav sidenav">
           
              <li class=""><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Все задачи</a></li>
              <li class=""><a href="/today"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Сегодня</a></li>
              <li class=""><a href="/week"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Неделя</a></li>

            </ul>
                  <ul class="nav sidenav">
                      {%for context_el in contexts %}
                      <li {% if context_el.id == context.id %} class="active" {%endif%}><a href="/context/{{ context_el.id }}"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{context_el.title}}</a></li>
                      {% endfor %}
                       <li><a href="/contexts/"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>  Настройки контекстов</a></li>
                  </ul>
        </div>
        
    </nav>
</div>
{% endif %}

{% endblock%}
{% block page_content %}

{% if current_user.is_authenticated() %}

<div class="col-md-9" role="main">
    <div class="panel docs-content">
        <h2 class="text-center"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>  {{context.title}} </h2> 
        <div class="docs-section fuelux">

            <ul class="list-group">

            	{% for task in tasks %}
            	    {% include '_task.html' %}
            	{% else: %}
                <h3 class="text-center"> У вас нет задач в данном контексте </h3>
                {% endfor %}

			</ul>
        </div>
    </div>
</div>
{{check.csrf_token()}}

{% endif %}
{% endblock %}
