{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}">
{% endblock %}

{% block scripts%}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-datetimepicker.min.js')}}"></script>

{% endblock %}

{% block sidebar %}

{% if current_user.is_authenticated() %}
<div class="col-md-3" >
    <nav class="sidebar " role="complementary">
        <div id="navigation">

            <ul class="nav sidenav">
           
              <li class=""><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Все задачи</a></li>
              <li class=""><a href="/today"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Сегодня</a></li>
              <li class="active"><a href="/week"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Неделя</a></li>

            </ul>
                  <ul class="nav sidenav">
                      {%for context in contexts %}
                      <li><a href="/context/{{ context.id }}"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{context.title}}</a></li>
                      {% endfor %}
                      <li><a href="/contexts/"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>  Настройки контекстов</a></li>
                  </ul>
        </div>
        
    </nav>
</div>
{% endif %}

{% endblock%}
{% block page_content %}

{% if current_user.is_authenticated() %}

<div class="col-md-9" role="main">
    <div class="panel docs-content">
        <h2 class="text-center">Задачи на следующие 7 дней <small>с {{today.format("D/MM/YYYY")}} по  {{today.replace(days=+6).format("D/MM/YYYY")}}</small></h2> 
        <div class="docs-section fuelux">

            <h4>Сегодня {{today.format("D/MM", locale='ru')}} </h4>
            <ul class="list-group">

            	{% for task in tasks if task.due_date >= today.timestamp and task.due_date < today.replace(days=+1).timestamp %}
            	    {% include '_task.html' %}
                {% endfor %}
			</ul>
            <h4>Завтра {{today.replace(days=+1).format("D/MM", locale='ru')}}</h4>
            <ul class="list-group">
                {% for task in tasks if task.due_date >= today.replace(days=+1).timestamp and  task.due_date < today.replace(days=+2).timestamp %}
                    {% include '_task.html' %}
                {% endfor %}
            </ul>
            <h4> {{today.replace(days=+2).format("dddd D/MM", locale='ru')}} </h4>
            <ul class="list-group">
                {% for task in tasks if task.due_date >= today.replace(days=+2).timestamp and  task.due_date < today.replace(days=+3).timestamp %}
                    {% include '_task.html' %}                
                {% endfor %}
            </ul>
            <h4> {{today.replace(days=+3).format("dddd D/MM", locale='ru')}} </h4>
            <ul class="list-group">
                {% for task in tasks if task.due_date >= today.replace(days=+3).timestamp and  task.due_date < today.replace(days=+4).timestamp %}
                    {% include '_task.html' %}
                {% endfor %}
            </ul>
            <h4> {{today.replace(days=+4).format("dddd D/MM", locale='ru')}} </h4>
            <ul class="list-group">
                {% for task in tasks if task.due_date >= today.replace(days=+4).timestamp and  task.due_date < today.replace(days=+5).timestamp %}
                    {% include '_task.html' %}
                {% endfor %}
            </ul>
            <h4> {{today.replace(days=+5).format("dddd D/MM", locale='ru')}} </h4>
            <ul class="list-group">
               {% for task in tasks if task.due_date >= today.replace(days=+5).timestamp and  task.due_date < today.replace(days=+6).timestamp %}
                    {% include '_task.html' %}
                {% endfor %}
            </ul>
            <h4> {{today.replace(days=+6).format("dddd D/MM", locale='ru')}} </h4>
            <ul class="list-group">
                {% for task in tasks if task.due_date >= today.replace(days=+6).timestamp and  task.due_date < today.replace(days=+7).timestamp %}
                    {% include '_task.html' %}
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{{check.csrf_token()}}

{% endif %}
{% endblock %}
